:root {
    --color1: #63474D;
    --color2: #aa767c;
    --color3: #D6A184;
    --color4: #FFA686;
    --color5: #FEC196;
}

body {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    height:10%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: rgb(250, 245, 241);
    background-size: contain;
    color: var(--color5);
    z-index: 1;
}

h1, nav {
    margin: 0 15px;
}

nav li{
    display: inline;
    margin: 0 3px;
    font-size: 12px;
}

ul {
    list-style-type: none;
}

section {
    display: flex;
    flex-direction: column; 
    /*text-align: center;*/
    margin: 200px;
    
}

#welcome-section {
    height: 100vh;
}
    
.content-section {
    background-color: var(--color3);
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
}

.content-section img {
    opacity: 0.75;
}

.project-tile {
    padding: 0 30px;
}

.other-apps, .contact-links {
    display: flex; 
    flex-wrap: wrap;
    padding: 0px 30px;
    margin-top: 0;
}

/*.other-apps*/ li {
    position: relative;
    width: 50%;
    /*margin-bottom: 2%;
    flex-shrink: 1;*/
}

.other-apps li:nth-child(3n) {
    width: 100%;
}

.contact-links li:nth-child(3n-2) {
    width: 100%;
}

img{
    width: 100%;
    height: 100%;
}

img:hover {
    outline: 10px solid var(--color2);
    outline-offset: -10px;
    opacity: 1;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

span[data-descr]:hover::before {
    content: attr(data-descr);
    position: absolute;
    min-width: 400px;
    min-height: 25px;
    background-color: var(--color2);
    padding: 12px;
    color: #fff;
    font-size: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    header {
        height: 10%;
    }

    .content-section {
        min-width: 300px;
    }

}
