:root {
    --color1: #63474D;
    --color2: #aa767c;
    --color3: #D6A184;
    --color4: #FFA686;
    --color5: #FEC196;
}

body {
    background-color: bisque;
}
header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    height:20%;
    width: 100%;
    background-repeat: no-repeat;
    background-color: rgb(250, 245, 241);
    color: var(--color5);
    z-index: 1;
   /* background-image: url('profile-photo.jpg');*/
}

ul {
    list-style-type: none;
}

section {
    display: flex;
    flex-direction: column; 
    /*text-align: center;*/
    margin: 200px;
    
}

.content-section {
    background-color: var(--color3);
    border-radius: 10px;
    margin: 15px;
}

.content-section img {
    opacity: 0.75;
}

.first-app {
    padding: 0 30px;
}

.other-apps, .contact-links {
    display: flex; 
    flex-wrap: wrap;
    padding: 0px 30px;
    margin-top: 0;
}

/*.other-apps*/ li {
    width: 50%;
    /*margin-bottom: 2%;
    flex-shrink: 1;*/
}

.other-apps li:nth-child(3n) {
    width: 100%;
}

.contact-links li:nth-child(3n-2) {
    width: 100%;
}

img{
    width: 100%;
    height: 100%;
}

img:hover {
    outline: 10px solid var(--color2);
    outline-offset: -10px;
    opacity: 1;
}

span[data-descr]:hover::before {
    content: attr(data-descr);
    position: absolute;
    min-width: 200px;
    background-color: var(--color2);
    padding: 12px;
    color: #fff;
    font-size: 80%;
    margin-left: 9%;
    margin-top: 6%;
}